body {
    margin-top: 50px;
}

footer {
    text-align: right;
    padding-right: 10px;
    padding-top: 2px; }
    footer a {
        text-decoration: none;
        color: black;
        font-weight: bold;
    }

.header {
    text-align: center;
}

.preview {
/*    border: solid;*/
    width: 640px;
    height: 2000px;
}
/* smart phones */
@media screen and (max-device-width: 480px) {
}
